<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.hello" >

    <!-- 진동 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- audio -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Contact 커미션 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 웹브라우저 화면 구성 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 외장  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat" >

        <!-- Google Map 사용을 위해 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAl0NO9ThZ7wOk_pJp-fLH39_xFUrasuA4" />

        <activity
            android:name=".showme.file.FileManagerActivity"
            android:label="@string/title_activity_file" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".showme.video.VideoFileListActivity"
            android:label="@string/title_activity_video" >
        </activity>

        <activity
            android:name=".showme.video.VideoPlayerActivity"
            android:label="@string/title_activity_video" >
        </activity>

        <activity
            android:name=".showme.image.ImageFileListActivity"
            android:label="@string/title_activity_image" >
        </activity>

        <activity android:name=".showme.audio.AudioFileListActivity"
            android:label="@string/title_audio_file_list_activity">
        </activity>

        <activity android:name=".showme.audio.AudioPlayerActivity"
            android:label="@string/title_audio_player_activity">
        </activity>

        <service
            android:name=".showme.audio.AudioMessengerService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
